<?xml version="1.0" encoding="utf-8" ?>
<configuration>      
  <configSections>
    <section name="jobVacancies" type="LinkedinBot.Configuration.JobVacanciesConfigSection, LinkedinBot"/>
  </configSections>
  <appSettings>
    <add key="login" value="bykov89ilya@gmail.com"/>
    <add key="password" value=""/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <jobVacancies>
      <makeContact text="Здравствуйте. Я работаю тестировщиком в Лаборатории Касперского, также занимаюсь привлечением новых сотрудников. На данный момент открыто свыше 80 вакансий(Москва), в том числе требующих навыков, указанных в вашем профиле. Если Вас заинтересует работа пишите на почту bykov89ilya@gmail.com." />        
      <vacancies>
        <!--<vacancy id="2759" searchWord="JavaScript">
          <keyWords>
            <keyWord word="AngularJS|Angular.js|Angular|Backbone|RiotJS|Riot|Riot.js"/>
            <keyWord word="webpack|browserify"/>
            <keyWord word="lodash|underscore"/>
            <keyWord word="Gulp|Grunt|gulp.js|grunt.js"/>
            <keyWord word="Git"/>
          </keyWords>
        </vacancy>-->
        <vacancy id="3151" searchWord="C++">
            <keyWords>
              <keyWord word="stl|c/c++ stl"/>
              <keyWord word="boost"/>
              <keyWord word="win32api|win32 api|winapi|win api|windows32 api|windows api"/>
              <keyWord word="winsdk|windows sdk|windowssdk"/>
              <keyWord word="gmock|google mock"/>
              <keyWord word="gtest|google test"/>
              <keyWord word="windbg"/>
            </keyWords>
         </vacancy>
      </vacancies>
      <regions>
        <!--<region place="7423" description="Ульяновск" />
        <region place="7424" description="Чувашия" pageFrom="1" pageTo="100" />
        <region place="7425" description="Оренбург" pageFrom="1" pageTo="100" />
        <region place="7426" description="Мордовия" pageFrom="1" pageTo="100" />
        <region place="7427" description="Удмуртия" pageFrom="1" pageTo="100" />
        <region place="7428" description="Киров" pageFrom="1" pageTo="100" />
        <region place="7429" description="Марий Эл" pageFrom="1" pageTo="100" />-->
        <!--<region place="7430" description="Пермь" pageFrom="1" pageTo="100" />-->
        <region place="7431" description="Татарстан" pageFrom="1" pageTo="100" />
        <region place="7432" description="Нижний Новгород" pageFrom="1" pageTo="100" />
        <region place="7433" description="Самара" pageFrom="1" pageTo="100" />
        <region place="7434" description="Саратов"  pageFrom="1" pageTo="100" />
        <region place="7435" description="Пенза" pageFrom="1" pageTo="100" />
        <region place="7436" description="Башкоркостан" pageFrom="1" pageTo="100" />
        <region place="7437" description="Хакасия" pageFrom="1" pageTo="100" />
        <region place="7438" description="Бурятия" pageFrom="1" pageTo="100" />
        <region place="7439" description="Алтай" pageFrom="1" pageTo="100" />
        <region place="7440" description="Забайкалье" pageFrom="1" pageTo="100" />
        <region place="7441" description="Иркутск" pageFrom="1" pageTo="100" />
        <region place="7442" description="Тыва" pageFrom="1" pageTo="100" />
        <region place="7443" description="Томск" pageFrom="1" pageTo="100" />
        <region place="7444" description="Алтай" pageFrom="1" pageTo="100" />
        <region place="7445" description="Омск" pageFrom="1" pageTo="100" />
        <region place="7446" description="Краснодар" pageFrom="1" pageTo="100" />
        <region place="7447" description="Новосибирск" pageFrom="1" pageTo="100" />
        <region place="7448" description="Кемерово" pageFrom="1" pageTo="100" />
        <region place="7449" description="Саха" pageFrom="1" pageTo="100" />
        <region place="7450" description="Сахалин" pageFrom="1" pageTo="100" />
        <region place="7451" description="Камчатка" pageFrom="1" pageTo="100" />
        <region place="7452" description="Чукотка" pageFrom="1" pageTo="100" />
        <region place="7453" description="Магадан" pageFrom="1" pageTo="100" />
        <region place="7454" description="ЕАО" pageFrom="1" pageTo="100" />
        <region place="7455" description="Приморье" pageFrom="1" pageTo="100" />
        <region place="7456" description="Амур" pageFrom="1" pageTo="100" />
        <region place="7457" description="Хабаровск" pageFrom="1" pageTo="100" />
        <region place="7458" description="Ленинградская область" pageFrom="1" pageTo="100" />
        <region place="7459" description="Карелия" pageFrom="1" pageTo="100" />
        <region place="7460" description="Вологда" pageFrom="1" pageTo="100" />
        <region place="7461" description="Калининград" pageFrom="1" pageTo="100" />
        <region place="7462" description="Новгород" pageFrom="1" pageTo="100" />
        <region place="7463" description="Санкт-Петербург" pageFrom="1" pageTo="100" />
        <region place="7464" description="Мурманск" pageFrom="1" pageTo="100" />
        <region place="7465" description="Архангельск" pageFrom="1" pageTo="100" />
        <region place="7466" description="Коми" pageFrom="1" pageTo="100" />
        <region place="7467" description="Псков" pageFrom="1" pageTo="100" />
        <region place="7468" description="Тюмень" pageFrom="1" pageTo="100" />
        <region place="7469" description="Свердловск" pageFrom="1" pageTo="100" />
        <region place="7470" description="Курган" pageFrom="1" pageTo="100" />
        <region place="7471" description="Челябинск" pageFrom="1" pageTo="100" />
        <region place="7472" description="Рязань" pageFrom="1" pageTo="100" />
        <region place="7473" description="Иваново" pageFrom="1" pageTo="100" />
        <region place="7474" description="Тула" pageFrom="1" pageTo="100" />
        <region place="7475" description="Белгород" pageFrom="1" pageTo="100" />
        <region place="7476" description="Ярославль" pageFrom="1" pageTo="100" />
        <region place="7477" description="Курск" pageFrom="1" pageTo="100" />
        <region place="7478" description="Тверь" pageFrom="1" pageTo="100" />
        <region place="7479" description="Брянск" pageFrom="1" pageTo="100" />
        <region place="7480" description="Орел" pageFrom="1" pageTo="100" />
        <!--<region place="7481" description="Московская область" pageFrom="1" pageTo="100" />-->
        <region place="7482" description="Липецк" pageFrom="1" pageTo="100" />
        <region place="7483" description="Кострома" pageFrom="1" pageTo="100" />
        <region place="7484" description="Калуга" pageFrom="1" pageTo="100" />
        <region place="7485" description="Владимир" pageFrom="1" pageTo="100" />
        <region place="7486" description="Тамбов" pageFrom="1" pageTo="100" />
        <!--<region place="7487" description="Москва" pageFrom="1" pageTo="100" />-->
        <region place="7488" description="Воронеж" pageFrom="1" pageTo="100" />
        <region place="7489" description="Смоленск" pageFrom="1" pageTo="100" />
        <region place="7490" description="Красноярск" pageFrom="1" pageTo="100" />
        <region place="7491" description="Волгоград" pageFrom="1" pageTo="100" />
        <region place="7492" description="Ростов" pageFrom="1" pageTo="100" />
        <region place="7493" description="Чечня" pageFrom="1" pageTo="100" />
        <region place="7494" description="Ставрополь" pageFrom="1" pageTo="100" />
        <region place="7495" description="КБР" pageFrom="1" pageTo="100" />
        <region place="7496" description="Северная Осетия" pageFrom="1" pageTo="100" />
        <region place="7497" description="Дагестан" pageFrom="1" pageTo="100" />
        <region place="7498" description="Калмыкия" pageFrom="1" pageTo="100" />
        <region place="7499" description="Ингушетия" pageFrom="1" pageTo="100" />
        <region place="7500" description="Адыгея" pageFrom="1" pageTo="100" />
        <region place="7501" description="Астрахань" pageFrom="1" pageTo="100" />
        <region place="7502" description="КЧР" pageFrom="1" pageTo="100" />
        <region place="7503" description="Ненецкий АО" pageFrom="1" pageTo="100" />
        <region place="7504" description="ХМАО" pageFrom="1" pageTo="100" />
        <region place="7505" description="Ямало-ненцкий АО" pageFrom="1" pageTo="100" />
      </regions>
  </jobVacancies>
</configuration>