<?xml version="1.0" encoding="utf-8" ?>
<configuration>      
  <configSections>
    <section name="jobVacancies" type="LinkedinBot.Configuration.JobVacanciesConfigSection, LinkedinBot"/>
  </configSections>
  <appSettings>
    <add key="login" value=""/>
    <add key="password" value=""/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <jobVacancies>
      <makeContact text="" />        
      <vacancies>
        <vacancy id="2759" searchWord="JavaScript">
          <keyWords>
            <keyWord word="AngularJS|Angular.js|Angular|Backbone|RiotJS|Riot|Riot.js"/>
            <keyWord word="webpack|browserify"/>
            <keyWord word="lodash|underscore"/>
            <keyWord word="Gulp|Grunt"/>
            <keyWord word="Git"/>
          </keyWords>
        </vacancy>
      </vacancies>
      <regions>
        <region place="7445" description="Омск" />
        <region place="7443" description="Томск" />
        <region place="7468" description="Тюмень" />
        <region place="7490" description="Красноярск" />
        <region place="7433" description="Самара" />
        <region place="7457" description="Хабаровск" />
        <region place="7504" description="ХМАО" />
        <region place="7478" description="Тверь" />
        <region place="7484" description="Калуга" />
        <region place="7485" description="Владимир" />
        <region place="7474" description="Тула" />
      
      </regions>
  </jobVacancies>
</configuration>