<?xml version="1.0" encoding="utf-8" ?>
<configuration>      
    <configSections>
      <section name="jobVacancies" type="LinkedinBot.Configuration.JobVacanciesConfigSection, LinkedinBot"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <jobVacancies>
      <makeContact text="Здравствуйте" />        
      <vacancies>
        <vacancy id="1">
          <keyWords>
            <keyWord word="C#"/>
            <keyWord word="Asp.Net"/>
          </keyWords>
        </vacancy>
        <vacancy id="2">
          <keyWords>
            <keyWord word="PHP"/>
            <keyWord word="Perl"/>
          </keyWords>
        </vacancy>
      </vacancies>
    </jobVacancies>
</configuration>